html,
body,
#root {
  height: 100%;
  margin: 0;
}

.HomePage {
  background-color: #CDE4D5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-center {
    text-align: right;
    margin-right: 5vh;
    }

.left-center {
    text-align: left;
    margin-left: 5vh;
}

.left-center > h2 {
    font-size: 80px;
}

.white {
    background-color: white;
}

.Split {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 10fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #CDE4D5;
}

.square {
    width: 100%;
    height: 100%;
    background-color: darkgreen;
}

.navbar {
    background-color: #0e7048;
    color: #f9f9e2;
    margin: 0px;
  }
  
  .navbar .nav-link {
    color: #f9f9e2 !important; 
  }

.navbar .nav-brand {
    color: #f9f9e2
}