.HomePage {
  background-color: #CDE4D5;
}

.Name {
  
}

.Split {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 10fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #CDE4D5;

}

.navbar {
    background-color: #00693e; /* set the background color of the Navbar */
    color: #f9f9e2;
    margin: 0px;
  }
  
  .navbar .nav-link {
    color: #f9f9e2 !important; 
  }

.navbar .nav-brand {
    color: #f9f9e2
}