.Title {
    background-color: #CDE4D5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 20px;
}
  
h1 {
    text-align: center;
}

.Home {
    align-items: center;
    justify-content: center;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto; 
}