.StockRow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 50%;
    margin: auto;

    align-items: center;
}

.Row {
    justify-content: center;
}

.button {
    margin-right: 10px; 
    width: 100%;  
    flex-grow: 1;
}

.ButtonRow {
    justify-content: center;
    align-items: center;
}

.page {
    background-color: #CDE4D5;
}
