.ProfPage {
    background-color:#CDE4D5;
    padding: 0;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.div {
    background-color:#CDE4D5;
}

.Positions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: full;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.username {
    background-color: #f9f9e2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
    width: full;
}

.ExternalButton {
    background-color: #22522C;
    color: #f9f9e2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.AddButton {
    align-self: 'stretch';
    background-color: #22522C;
    color: #f9f9e2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    width: '100%';
 }

.AddButton:hover {
    background-color: #f9f9e2;
    color: #22522C;
    cursor: pointer;
  }