.ProfilePage {
    background-color: #CDE4D5;
  width: "100%";
  height: "100%";
  display: flex;
  flex-direction: column;
}

.Top {
    display: flex;
    position: relative;
}

.Username {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;

    justify-content: right;
    display: 'flex';
}

.Positions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: full;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.ExternalButton {
    
    background-color: #f9f9e2;
    color: #22522C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.ExternalButton:hover {
    color: #f9f9e2 ;
    background-color: #74A44C;
    cursor: pointer;
}

.AddButton {
    background-color: #22522C;
    color: #f9f9e2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 20px;
    display: 'flex';
    position: absolute;
    right: auto;
    width: 20%;
 }

.AddButton:hover {
    background-color: #f9f9e2;
    color: #22522C;
    cursor: pointer;
  }