.StockRow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 50%;
    margin: auto;

    justify-content: space-between; /* or justify-content: space-around; */
    align-items: center;
  
    background-color: limegreen;
}

.Row {
    justify-content: center;
}

.button {
    margin-right: 10px; /* optional */
    width: 100%;  
    flex-grow: 1;
}
